.btn-menu-show{
    background-color:#FFF;
    padding-left:15px;
    padding-right:15px;
    border:0;
    border-bottom:2px solid;
    color:#5bc0de;
    outline: 0;
}

.btn-menu-show:hover{
    background-color:#5bc0de;
    color:#FFF;
    border-bottom:2px solid;
}

a {
    outline: 0;
}

.add-follower, .remove-follower {
    cursor: pointer;
}