.btn-rounded {
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #FFF;
      background: rgba(91, 192, 222, 0.75);
      border: 2px solid rgba(91, 192, 222, 0.75);
    }

    &:active {
      color: #FFF !important;
      background: rgba(91, 192, 222, 0.75) !important;
      border: 2px solid rgba(91, 192, 222, 0.75) !important;
    }

    &:focus {
      color: #FFF !important;
      background: rgba(91, 192, 222, 0.75) !important;
      border: 2px solid rgba(91, 192, 222, 0.75) !important;
    }
  }

.supr-user.show i.fas.fa-times-circle {
    cursor: pointer;
}
.supr-user i.fas.fa-times-circle {
    font-size: 20px;
    transition: font-size 0.5s;
}

i.fas.fa-times-circle:hover {
    color: #ff000056;
}

i.detail {
  &:focus {

  }
}

i.edition {
  &:focus {
    
  }
}