<div class="row m-5">
    <div class="col d-inline-flex  bd-highligh flex-wrap d-flex justify-content-center">
        <% @followers.each do |follow| %>
            <div class="card col-3 p-0 m-2">

                <%= image_tag "fake.png", alt: "Profil", :class => "card-img-top" %>
                <div class="card-body pt-2">
                    <ul class="list-group list-group-flush mb-2">
                        <li class="list-group-item">Nom : <%= follow.nom %></li>
                        <li class="list-group-item">Prenom : <%= follow.prenom %></li>
                        <li class="list-group-item">Age : <%= follow.age %></li>
                    </ul>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <a href="<%= utilisateur_path(follow) %>" class="mr-2"><i class="far fa-id-card" style="font-size: 25px; color: black;"></i></a>
                            <i data-id="<%= @utilisateur.id %>" data-follower="<%= follow.id %>" class="ml-3 remove-follower fa fa-heart" style="font-size: 25px; color: black;"></i>
                        </div>
                    </div>
                </div>
            </div>            
        <% end %>
    </div>
</div>