<div class="row m-5">
    <div class="col d-inline-flex  bd-highligh flex-wrap d-flex justify-content-center">
        <% @utilisateur.tweets.each do |tweet| %>
            
                <div class="card col-3 p-0 m-1">
                    <div class="card-header">
                        <div class="row">
                            <strong class="col d-flex justify-content-center pr-0">#Tweet</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <%= tweet.content %>
                    </div>
                </div>
            
        <% end %>
    </div>
</div>

<div class="row"> 
    <div class="col">
        <%= render 'tweets/new' %>
    </div>
</div>