<div = class="container">
    <%= form_with model: @utilisateur, html: {class: "mt-5 p-5", :style => "border: solid #e1e2e2; margin-left: auto; margin-right: auto; width:50%;"}, local: true do |form| %>

        <div class="form-group ">
            <div class="col d-flex justify-content-center">
                <%= form.label :nom, class: "" %>
            </div>

            <div class="col d-flex justify-content-center">
                <div class="col">
                    <%= form.text_field :nom, class: "form-control" %>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col d-flex justify-content-center">
                <%= form.label :prenom, class: "" %>
            </div>

            <div class="col d-flex justify-content-center">
                <div class="col">
                    <%= form.text_field :prenom, class: "form-control" %>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col d-flex justify-content-center">
                <%= form.label :age, class: "" %>
            </div>

            <div class="col d-flex justify-content-center">
                <div class="col">
                    <%= form.number_field :age, class: "form-control" %>
                </div>
            </div>
        </div>

        <div class="form-row d-flex justify-content-center">
        <%# <div class="col-2"></div> %>
            <div class="col-4" style="padding-left: 34px;">
                <%= form.submit "envoyer", class: "btn btn-primary", style: "margin-right: 20px;" %>
            </div>

             <div class="col">
                <a href="<%= utilisateurs_path %>"><button class="btn btn-primary">retour</button></a>
            </div>

            <%# <div class="col">
                
            </div> %>
        </div>
    <% end %>
</div>