<% @utilisateurs.each do |utilisateur| %>
    <div class="card col-3 p-0 m-2">
        <%= image_tag "fake.png", alt: "Profil", :class => "card-img-top" %>
        <div class="card-body pt-2">

            <div class="row d-flex justify-content-end">
                <div style="color:red" class="pr-0 col-3 supr-user show d-flex justify-content-end">
                    <i data-id="<%= utilisateur.id %>" style="font-size: 20px;" class="fas fa-times-circle user-delete"></i>
                </div>
            </div>
                     
            <ul class="list-group list-group-flush mb-2">
                <li class="list-group-item">Nom : <%= utilisateur.nom %></li>
                <li class="list-group-item">Prenom : <%= utilisateur.prenom %></li>
                <li class="list-group-item">Age : <%= utilisateur.age %></li>
            </ul>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a href="<%= utilisateur_path(utilisateur) %>" class="mr-2"><i class="far fa-id-card" style="font-size: 25px; color: black;"></i></a>
                    <a href="<%= edit_utilisateur_path(utilisateur) %>"><i class="fas fa-edit" style="font-size: 25px; color: black"></i></a>
                </div>
                    
            </div>
        </div>
    </div>
<% end %>