 <%= content_for :css do %>
   <%= stylesheet_link_tag "utilisateurs/utilisateurs-index" %>
 <% end %>
 <div class="container">
    <div class="row d-flex justify-content-center mb-4">
        <h1>Utilisateurs</h1>
    </div>

    

    <div class="container">

        <div class="col fixed-top mt-4 ml-2"><a href="<%= new_utilisateur_path %>" class=""><button class="btn btn-primary btn-rounded">ajouter</button></a></div>

        <div id="liste-users" class="col d-inline-flex  bd-highligh flex-wrap d-flex justify-content-center">
            <%= render 'utilisateurs/liste_utilisateurs' %>
        </div>
        
    </div>
</div>

<%= content_for :jq do %>
    <%= javascript_include_tag "utilisateurs/index.js" %>
<% end %>