<%= content_for :css do %>
    <%= stylesheet_link_tag "utilisateurs/utilisateurs-show" %>
<% end %>

<div class="container">
    <div class="col-2 mx-auto mt-md-5">
        <div class="row">
            <div class="col p-0">
                <%= image_tag "fake.png", alt: "Profil", :class => "card-img-top" %>
            </div>
        </div>

        <div class="row mt-md-4 p-0">
            <div class="col d-flex flex-row pl-0">
                <strong>Nom : </strong>
            </div>

            <div class="col d-flex flex-row-reverse p-0">
                <%= @utilisateur.nom %>
            </div>
        </div>

        <div class="row mt-md-1 p-0">
            <div class="col d-flex flex-row pl-0">
                <strong>Prénom : </strong>
            </div>

            <div class="col d-flex flex-row-reverse p-0">
                <%= @utilisateur.prenom %>
            </div>
        </div>

        <div class="row mt-md-1 p-0">
            <div class="col d-flex flex-row pl-0">
                <strong>Âge : </strong>
            </div>

            <div class="col d-flex flex-row-reverse p-0">
                <%= @utilisateur.age %>
            </div>
        </div>

        <div class="row mt-md-1 p-0">
            <div class="col d-flex flex-row p-0">
                <div class="col d-flex flex-row pl-0">
                    <a href="<%= utilisateurs_path %>"><button class="btn btn-primary"><i class="fas fa-home"></i></button></a>
                </div>
            </div>

            <%# <div class="col d-flex flex-row p-0">
                <div class="col d-flex flex-row p-0">
                    <button class="btn-menu-show"><%= link_to "Se faire des amis", liste_follows_utilisateur_path, remote: true %><%#</button>
                </div>
            </div> %>
        </div>
        
    </div>

    <div class="row mt-md-5 d-flex justify-content-center">
        <div class="p-0 mr-3">
            <button class="btn-menu-show"><%= link_to "Mes tweets", liste_tweets_utilisateur_path, remote: true %></button>
        </div>

        <div class="p-0 mr-3">
            <button class="btn-menu-show"><%= link_to "Se faire des amis", liste_add_follows_utilisateur_path, remote: true %></button>
        </div>

        <div class="p-0 mr-3">
            <button class="btn-menu-show"><%= link_to "Mes follows", view_followers_utilisateur_path, remote: true %></button>
        </div>
    </div>

    <div id="ajaxRendering">

        <%= render 'utilisateurs/ajax_tweets' %>

    </div>
    
</div>
