<div class="row m-5">
    <div class="col d-inline-flex  bd-highligh flex-wrap d-flex justify-content-center">
        <% @utilisateur.tweets.each do |tweet| %>
            
                <div class="card col-3 p-0 m-1">
                    <%= tweet.content %>
                </div>
            
        <% end %>
    </div>
</div>