<%= content_for :css do %>
<% end %>

<div = class="container">
    
    <%= form_with model: [@utilisateur, @utilisateur.tweets.build], html: {class: "mb-5 mt-5 p-5", :style => "border: solid #e1e2e2; margin-left: auto; margin-right: auto; width:50%;"}, local: true do |form| %>
        <div class="col d-flex justify-content-center mb-4">
            <h1>Nouveau twet<h2>
        </div>
        <div class="form-group ">
            <div class="col d-flex justify-content-center">
                <%= form.label :content, class: "" %>
            </div>

            <div class="col d-flex justify-content-center">
                <div class="col">
                    <%= form.text_field :content, class: "form-control" %>
                </div>
            </div>
        </div>

        <div class="form-row d-flex justify-content-center">
            <div class="col-4" style="padding-left: 34px;">
                <%= form.submit "envoyer", class: "btn btn-primary", style: "margin-right: 20px;" %>
            </div>
        </div>
    <% end %>
</div>