<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :css%>
  </head>

  <body>
    <%= yield %>
    <%= yield :js%>
    <script src="https://kit.fontawesome.com/0ab26a83f7.js" crossorigin="anonymous"></script>
  </body>
</html>
